#chat-screen{
    background-color: #abc1d1;
    height: 500vh;
}
#chat-screen .settings-header
{
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    top: 8px;
    background-color: #abc1d1;
    z-index: 1;
}
#chat-screen .status-bar{
    background-color:  #abc1d1;;
    z-index: 2;
}
