.settings-header{
    margin: 50px 20px 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.settings-header__column:nth-child(2){
    font-size: 30px;
}
.settings-menu{
    padding: 30px 0;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    border-bottom: 1px solid var(--border-color);
}
.settings-menu__column:first-child i{
    margin-right: 10px;
}
.settings-menu__column:last-child{
    color: rgba(0,0,0,0.5);
}