.user-component{
    display: flex;
    justify-content: space-between;
    margin: 15px 20px;
    align-items: center;
}
.user-component__column:first-child{
    display: flex;
    align-items: center;
}

.user-component__avatar--xl{
    width: 40px;
    height: 40px;
    padding: 20px;
    background-color: #aaccff;
    border-radius: 25px;
    margin-right: 20px;
}
.user-component__avatar--xs{
    width: 30px;
    height: 30px;
    padding: 10px;
    background-color: #aaccff;
    border-radius: 10px;
    margin-right: 20px;
}
.user-component__avatar--mid{
    width: 60px;
    height: 60px;
    border-radius: 15px;
    margin-right: 20px;
}
.user-component__column__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40px;
}
.user-component__column__text__name{
    font-size: 20px;
    font-weight: 700;
}
.user-component__column__text__name--normal{
    font-size: 20px;
}
.user-component__column__text__text{
    font-size: 15px;
    color: rgba(148, 168, 173);
    font-weight: lighter;
}